html {
    box-sizing: border-box;
}
*, *::before, *::after {
    box-sizing: inherit;
}
body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 18px;
    color: #333;
    background-color: antiquewhite;
}

h1 {
    font-size: 1.5em;
}
h2 {
    font-size: 1.4em;
    color: cornflowerblue;
}
h3 {
    font-size: 1.2em;
    color: darkolivegreen;
}
a, a:visited {
    color: rebeccapurple;
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}